@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root,body,html{
  height: 100%;
  margin: 0;
  font-family: 'Roboto',sans-serif;;
}

body{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('./assets/Saving-vs-Investing-GSAM-thumbnails-1000x1000-1-767x515.jpg');
    /* background-size: cover; */
    background-position: center;
}